body{
	margin: 5px 15px 0px 5px;
	padding: 0;
}
#SubmitButton{
	color: #fff; 
	text-decoration: none;
	user-select: none;
	background: rgb(212,75,56);
	padding: 10px 20px;
	outline: none;
	transition: 300ms;	
}
#SubmitButton:hover{
	background: rgb(232,95,76);
}
#SubmitButton:active{
	background: rgb(152,15,0);
}
#ResultArea {
	height: 60vh;
	outline-style: solid;
	outline-width: 1px;
	overflow: scroll;
	width: 100%
} 
#PreCodeArea {
	height: 25vh; 
	width: 100%;
	border-color: black;
	overflow: scroll;
}
.code {
	background-color: #FFDAB9;
}
.errorCode{
	background-color: #EF585A;
	color: #570102;
}
.successCode{
	background-color: #7ED58A;
	color: #042100;
}
